@media (min-width: 2100px){
	.about{
		background-size: 0;
	}
}
@media (min-width: 2000px){
	.decision-paralax{
		left: 10%;
	}
}
@media (min-width: 1960px){
	.decision, .work, .question{
		background-size: 0;
	}
	.paralax, .question-bg{
		display: none;
	}

}
@media (max-width: 1750px) {
	.paralax, .question-bg{
		display: none;
	}
	.about{
		background-size: 0;
	}
	.decision {
		background-size: 120%;
	}
	.question {
		background-size: 65%;
	}
}
@media (max-width: 1510px) {
	.decision {
		background-size: 125%;
	}
}
@media (max-width: 1440px) {
	.decision__video {
		max-width: 600px;
		iframe{
			margin-top: -120px;
			margin-bottom: 150px;
			width: 600px;
			height: 315px;
		}
	}
	.question {
		background-size: 75%;
	}
}
@media (max-width: 1366px) {
	.main{
		&::after, &::before{
			display: none;
		}
	}
	.decision {
		background-size: 135%;
	}
}